<% provide(:title, "List - #{@list.name}") %>
<div class="top-buttons row">
  <div class="span3 offset3">
    <%= link_to 'Back to lists', lists_path,
                class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@list) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <table class="table">
        <tbody>
          <% @list.list_items.each do |item| %>
            <tr>
              <td>
                <%= f.text_field "item-#{item.id}",
                                 value: item.name,
                                 class: 'list-item-field',
                                 autocomplete: 'off' %>
                <a class="close delete-item-button">&times;</a>
              </td>
            </tr>
          <% end %>
            <tr>
              <td>
                <%= link_to 'Add item', '#',
                            id: 'add-list-item-button',
                            class: 'btn btn-info btn-xs' %>
              </td>
            </tr>
        </tbody>
      </table>
      <div class="center">
        <%= f.submit 'Save list', class:'btn btn-large btn-success' %>
      </div>
    <% end %>
  </div>
</div>
