<% provide(:title, "List - #{@list.name}") %>
<h1><%= %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@list) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit 'Save list', class:'btn btn-large btn-success' %>
    <% end %>
  </div>
</div>
