<% title = "#{@account.institution.name} - #{@account.account_nickname}" %>
<% provide(:title, title) %>
<div class="top-buttons row">
  <div class="span3 offset3">
    <%= link_to 'Back to accounts', @account.customer_institution,
                class: 'btn btn-primary' %>
  </div>
  <div class="span3">
    <%= render 'layouts/sync_button' %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h1><%= title %></h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>Recent Transactions</h3>
  </div>
  <div class="span12">
    <table class="accounts table">
      <thead>
        <tr>
          <th>Payee Name</th>
          <th>Posted Date</th>
          <th>System Date</th>
          <th>Amount</th>
          <th>Pending</th>
        </tr>
      </thead>
      <tbody>
      <% @account.latest_transactions.each do |t| %>
        <tr>
          <td class="payee"><%= t.payee_name.html_safe %></td>
          <td><%= t.posted_date.try :strftime, '%m/%d/%y' %></td>
          <td><%= t.user_date.try :strftime, '%m/%d/%y' %></td>
          <td><%= number_to_currency -t.amount, negative_format: '(%u%n)' %></td>
          <td><%= t.pending ? 'Pending' : '-' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
